<div class="reporting-gem">
<% content_for :page_title do %>
  <%= Spree.t('adv_report.' + @report.name.downcase) %> &middot; <small><%= @report.description %></small>
<% end %>
<div style="display: none !important;"></div>

<% content_for :page_actions do %>
    <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<% content_for :sidebar_title do %>
  <% Spree.t(:report_details) %>
<% end %>

<% content_for :sidebar do %>
  <div class="menu">
    <ul class="show_data">
      <%= content_tag :li do %>
        <%= raw @report.taxon_text %>
      <% end %>
      <%= content_tag :li do %>
        <%= raw @report.product_text %>
      <% end %>
      <%= content_tag :li do %>
          <h5>
            <label>Total:</label> <%= @report.format_total %>
          </h5><br />
      <% end %>
      <%= content_tag :li do %>
        <label><%= @report.params['search']['completed_at_gt'].strftime('%m-%d-%Y') %></label>
        <span class="range-divider">
          <i class="icon-arrow-right"></i>
        </span>
        <label><%= @report.params['search']['completed_at_lt'].strftime('%m-%d-%Y') %></label>
        <div class="links">
            <%= link_to_with_icon 'icon-tasks', Spree.t(:csv), @report.download_url(request.fullpath, 'csv', 'all') %>
        </div>
      <% end %>
      <% @report.increments.each do |inc| %>
        <%= content_tag :li, class: ('selected' if inc == :daily), id: inc.to_s do %>
            <label><%= inc.to_s.capitalize %></label>
            <%= link_to_with_icon 'icon-tasks', Spree.t(:csv), @report.download_url(request.fullpath, 'csv', inc.to_s) %>
        <% end %>
      <% end %>
    </ul>
  </nav>
<% end %>

<% content_for :head do %>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {'packages': ['corechart']});
    </script>
    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);

        function drawChart() {
        <% @report.increments.each do |type| %>
            var data_<%= type.to_s %> = new google.visualization.DataTable();
            data_<%= type.to_s %>.addColumn('string', 'Display');
            data_<%= type.to_s %>.addColumn('number', '<%= @report.name %>');
            data_<%= type.to_s %>.addRows(<%= @report.ruportdata[type].size %>);
          <% @report.ruportdata[type].each_with_index do |p, i| %>
            data_<%= type.to_s %>.setValue(<%= i.to_s %>, 0, "<%= p.data[type.to_s.capitalize] %>");
            data_<%= type.to_s %>.setValue(<%= i.to_s %>, 1, <%= p.data[@report.column].to_s.gsub(/^\$/, '') %>);
          <% end %>
            var chart_<%= type.to_s %> = new google.visualization.ColumnChart(document.getElementById('<%= type.to_s %>_chart'));
            chart_<%= type.to_s %>.draw(data_<%= type.to_s %>, {
                width: 700,
                height: 400,
                legend: 'none',
                hAxis: { slantedText: true, slantedTextAngle: 30 },
                title: '<%= type.to_s.capitalize + ' ' + @report.name %>'
            });
        <% end %>
        }
    </script>
<% end %>

<%= render :partial => 'spree/admin/reports/advanced_report_criteria', :locals => {} %>

<% @report.increments.each do |type| %>
    <div id="<%= type.to_s %>_data" <%= 'style=display:none;' if type.to_s != 'daily' %> class="advanced_reporting_data">
        <div id="<%= type.to_s %>_chart"></div>
        <%= raw @report.ruportdata[type].to_html %>
    </div>
<% end %>
</div>
